body {
  font-family: 'Cairo', sans-serif;
  direction: rtl;
  transition: background-color 0.5s, color 0.5s;
}

.card {
  max-width: 500px;
  background-color: #222;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 15px #444;
  transition: background-color 0.5s, color 0.5s;
}

body.light-mode {
  background-color: #f8f9fa !important;
  color: #000 !important;
}

body.light-mode .card {
  background-color: #fff !important;
  color: #000 !important;
}
